h1 {
  font-weight: bold;
  color: #800000;
  font-size: 32px;
}

h2  {
  color:green;
  margin-top: 10px;
}

body {
    background-color: lightgrey;
}

p.opensans {
   font-family: 'Open Sans', sans-serif;
   color:#CC742D
   }

p.roboto {
  font-family: 'Roboto', sans-serif;
  color:#1C5F75
    }

p.georgia {
  font-family: 'Georgia', sans-serif;
  color:#586E75
         }
